html, body {
    height: 100%;
}

body {
    background-color: #edf1f5;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
}

.text-center {
    font-size: 14px;
    text-align: center !important;
}

a:link {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid rgba(2, 1, 0, .4);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*dashboard*/
.breadcrumb {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
    top: 0;
    right: 0;
    left: 0;
    background: #ffffff;
}
small {
    font-size: 68%;
    font-weight: 400;
    color: #777777;
}

.header-dashboard{
    color: #333333;
    font-size: 24px;
}
.inner{
    padding-top: 15px;
}
.d-h3{
    color: #FAFAFA;
}
.d-h3>p{
    font-size: 16px;
    padding-top: 15px;
}

.icon{
    color: #e5e5e5;
    padding-right: 15px;
}
.dash-info{
    margin: 12px;
}

@keyframes animate-green {
    0% {
        background-color: #00642e;
    }

    3% {
        background-color: #00642e;
        transform: translateX(13px);
    }

    9% {
        background-color: #41a124;
        transform: translateX(-20px);
    }

    14% {
        transform: translateX(2px);
    }

    18% {
        transform: translateX(-12px);
    }

    21% {
        transform: translateX(-3px);
    }

    23% {
        transform: translateX(-9px);
    }

    24% {
        transform: translateX(-7px);
    }

    30% {
        transform: translateX(-7px) scale(1);
        animation-timing-function: cubic-bezier(.6, 0, 1, 1);
    }

    43% {
        animation-timing-function: cubic-bezier(0, 0, .4, 1);
        transform: translateX(13px) scale(.6);
        z-index: -1;
    }

    56% {
        animation-timing-function: cubic-bezier(.6, 0, 1, 1);
        transform: translateX(33px) scale(1);
        z-index: 1;
    }

    69% {
        animation-timing-function: cubic-bezier(0, 0, .4, 1);
        transform: translateX(13px) scale(1.4);
    }

    82% {
        animation-timing-function: ease-in;
        background-color: #41a124;
        z-index: 1;
        transform: translateX(-7px) scale(1);
    }

    98% {
        background-color: #00642e;
        transform: translateX(13px);
    }

    100% {
        background-color: #00642e;
    }
}

@keyframes animate-purple {
    0% {
        background-color: #3b1f82;
    }

    3% {
        background-color: #3b1f82;
        transform: translateX(-13px);
    }

    9% {
        background-color: #6d39ff;
        transform: translateX(20px);
    }

    14% {
        transform: translateX(-2px);
    }

    18% {
        transform: translateX(12px);
    }

    21% {
        transform: translateX(3px);
    }

    23% {
        transform: translateX(9px);
    }

    24% {
        transform: translateX(7px);
    }

    30% {
        animation-timing-function: cubic-bezier(.6, 0, 1, 1);
        transform: translateX(7px) scale(1);
    }

    43% {
        animation-timing-function: cubic-bezier(0, 0, .4, 1);
        transform: translateX(-13px) scale(1.4);
    }

    56% {
        animation-timing-function: cubic-bezier(.6, 0, 1, 1);
        transform: translateX(-33px) scale(1);
    }

    69% {
        animation-timing-function: cubic-bezier(0, 0, .4, 1);
        transform: translateX(-13px) scale(.6);
    }

    82% {
        animation-timing-function: ease-in;
        background-color: #6d39ff;
        transform: translateX(7px) scale(1);
    }

    98% {
        background-color: #3b1f82;
        transform: translateX(-13px);
    }

    100% {
        background-color: #454545;
    }
}

#loading {
    background: #F2F2F2 url("https://cdn.esewa.com.np/common/icons/loading_esewa-new.gif") no-repeat center;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

label {
    color: #a7a7a7;
    font-size: 14px;
}

.invalid-feedback {
    font-style: italic;
}

.form-control {
    font-size: 14px;
}

.custom {
    padding-top: 72px;
}

hr {
    border-top: 1px solid #e9e9e9;
}

.btn {
    font-size: 14px;
}

/*CARD*/
.card {
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);
    margin-bottom: 15px;
}

.card-header {
    background-color: #ffffff;
    border-bottom: none;
    padding: 1.5rem 1.25rem;
}

.card-header h6 {
    margin-bottom: 0;
}

.sm-empty-container {
    text-align: center;

}

.sm-empty-container img {
    width: 200px;
}

.sm-empty-container .sm-empty {
    padding: 15px;
    text-align: center;
}

.sm-filter-card {
    width: 100%;
}

.sm-filter-card .card-body {
    align-items: end;
    display: flex;
    margin: auto;
}

.sm-filter-element {
    /*width: 10%;*/
}

.sm-w-150 {
    width: 150px;
}

.sm-main-body {
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 1.25rem;
    position: relative;
}

.sm-title {
    align-items: center;
    display: flex;
    margin-bottom: 15px;

}

.sm-header h5 {
    display: inline-block;
    font-size: 16px;
    margin: 0;
}

.sm-header .btn {
    height: 35px;
    position: relative;
    padding: 0 15px;
}

.sm-header .sm-btn-container {
    float: right;
    position: absolute;
    right: 20px;
}

.sm-header .btn i {
    margin-right: 10px;
}

.sm-search-container {
    display: inline-block;
    margin-left: 15px;
    width: 300px;
}

.sm-search {
    width: 200px;

}

/*TABLE*/

td {
    font-size: 12px;
}

th {
    font-size: 12px;
}

.sm-table-container .ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #41a124;
    color: #ffffff;
}

.sm-table-container .ui-table .ui-table-thead > tr > th {
    background-color: #f4f4f4;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-weight: 700;
    font-size: 12px;
    padding: 0.571em 0.857em;
    text-align: left;

}

.sm-table-container .ui-table .ui-table-tbody > tr > td {
    border: 1px solid #e9e9e9;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.sm-table-container .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: transparent;
}

.sm-table-container .ui-corner-all {
    border-radius: 0px;
}

.sm-table-container .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #41a124;
    color: #ffffff;
    border-radius: 4px;
}

.sm-table-container .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
.sm-table-container .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    background-color: #41a124;
    color: #ffffff;
}

.sm-table-container tr > td a {
    color: #41a124;
}

.sm-table-container .ui-table .ui-table-tbody > tr {
    background-color: #ffffff !important;
    color: #333333;
    border-left: none;
    border-right: none;
}

.sm-table-container .ui-paginator {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.sm-table-container .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover {
    border-radius: 4px;
}

.sm-table-container .ui-paginator .ui-paginator-pages .ui-paginator-page {
    margin: 0 2px;
}

.sm-table-container .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    border: 1px solid #e9e9e9;
}

.sm-table-container .pi {
    font-size: 12px;
}

.sm-table-container .close {
    font-size: 14px;
}

/*DATE PICKER*/
.custom .ui-datepicker table td.ui-datepicker-today > a.ui-state-active,
.custom .ui-datepicker table td.ui-datepicker-today > span.ui-state-active {
    background-color: #41a124;
}

.custom .ui-datepicker table td > a.ui-state-active,
.custom .ui-datepicker table td > span.ui-state-active {
    background-color: #41a124;
}

.custom .ui-datepicker:not(.ui-datepicker-inline) {
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

/*DIALOG*/
.ui-dialog .ui-dialog-content {
    border: 1px solid #e9e9e9;
    overflow: hidden !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ui-corner-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/*CALENDER*/
.ui-calendar .ui-inputtext {
    border: 1px solid #ced4da;
}

.ui-calendar .ui-inputtext:enabled:focus:not(.ui-state-error) {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25) !important;
}

.ui-calendar .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #ced4da;
}

/*ALERT*/
.close {
    line-height: 0.5;
}
